/* css/about-styles.css */

a{
    color: inherit;
}

main {
    max-width: 100% !important;
    padding: 0 !important;
    position: relative;
    z-index: 1;
}

body, main, .black {
    overflow: visible;
}

body {
    font-family: 'Lato', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
    font-weight: 300;
}

.snap-container {
    height: 100vh;
    width: 100%;
}

.snap-section {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section, .contact-section {
    height: 100vh;
}

.contact-section {
    position: relative;
}

.black {
    position: relative;
    width: 100%;
    background-color: rgba(80, 80, 80, 0.74);
    background-color: rgba(75, 72, 69, 0.74);
    background-color: rgb(14, 14, 14);
    color: white;
    z-index: 1; /* Reduce the z-index here */
}

.black::before {
    content: '';
    position: absolute;
    top: -2vh;
    left: 0;
    right: 0;
    height: 2vh;
    background: linear-gradient(to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(10, 10, 10, 0.1) 20%,
        rgba(10, 10, 10, 0.2) 30%,
        rgba(10, 10, 10, 0.3) 40%,
        rgba(10, 10, 10, 0.4) 50%,
        rgba(10, 10, 10, 0.5) 60%,
        rgba(10, 10, 10, 0.6) 70%,
        rgba(10, 10, 10, 0.8) 80%,
        rgba(10, 10, 10, 0.9) 90%,
        rgba(10, 10, 10, 1) 100%);
    pointer-events: none;
    z-index: -1; 
}

.text-content h2 {
    font-size: 2.4rem;
    font-weight: 200;
    color: #e3ded9; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(123, 72, 5, 0.3); 
    transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.text-content p {
    font-size: 1.2rem;
    color: #cccccc; 
    line-height: 1.8;
    margin-bottom: 20px;
    text-shadow: 0 0 8px rgba(123, 72, 5, 0.2); 
    transition: color 1.0s ease, text-shadow 1.0s ease;
}

.content-wrapper {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.content-wrapper.reverse {
    flex-direction: row-reverse;
}

.image-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content, .image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    flex: 1;
    padding: 20px;
}

.image-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.text-content h2 {
    width: 100%;
}

.text-content .contact-header {
    text-align: center !important;
}

h1, h2 {
    font-family: 'Lato', 'Roboto', sans-serif;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Hover effect */
.text-content h2:hover {
    text-shadow: 0 0 20px rgba(123, 72, 5, 0.4); /* Intensified glow on hover */
    transform: scale(1.01px); /* Subtle lift on hover */
}

.text-content p:hover {
    color: #ffffff; /* Brighten the text on hover */
    text-shadow: 0 0 15px rgba(123, 72, 5, 0.3); /* Brighter glow on hover */
}



.parallax-image-container {
    height: 70vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.parallax-image {
    background-image: url("/images/about-historic/archive-photos/desk-series/michael-bock-blank-and-white-table.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; /* Ensure it covers the container's full height */
    width: 100%;
    background-attachment: fixed; /* Creates the parallax effect */
}

footer {
    margin-top: 100px;
}

footer p {
    font-size: 0.8rem;
    color: rgb(232, 232, 232);
}

.contact-button {
    position: relative;
    display: inline-block;
    padding: 7px 20px;
    background-color: rgb(236, 236, 236);
    color: rgb(10, 10, 10);
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.contact-button:hover {
    transform: scale(1.03);
    background-color: #ffffff;
}


.tooltip {
    position: absolute;
    background-color: #fdfdfd;
    margin-top: 20px;
    margin-left: 18px;
    font-size: 12px;
    color: #000000;
    padding: 2px 4px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    white-space: nowrap;
}

.tooltip::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fdfdfd transparent;
}


.contact-button:hover + .tooltip {
    opacity: 1;
    pointer-events: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 100%;
    max-width: 100%;
    margin: 30px 0;
    border-radius: 5px;
    display: flex;
    z-index: 1000
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}

.video-caption {
    margin-top: -50px;
}

/* Responsive design */
@media (max-width: 768px) {
/*     .section-nav {
        display: none;
    } */

    .content-wrapper, .content-wrapper.reverse {
        flex-direction: column;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }
}



/* about */

/* New styles for the about section */
#about .content-wrapper {
    margin-top: -100px;
    align-items: stretch; /* Ensures both children stretch to fill the container height */
}

#about .image-content {
    flex: 0 0 50%; /* This sets the width to 65% and prevents growing or shrinking */
}

#about .top-text-content {
    flex: 1; /* This allows the text content to take up the remaining space */
    padding-left: 20px; /* Adds some space between the image and text */
}

#about .image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire div without distortion */
}

/* Responsive adjustment */
@media (max-width: 768px) {
    #about .content-wrapper {
        margin-top: 0;
        flex-direction: column;
    }

    #about .image-content,
    #about .top-text-content {
        flex: 1 0 auto; /* Reset flex properties for mobile */
        width: 100%;
    }

    #about .top-text-content {
        padding-left: 0;
        padding-top: 20px;
    }
}