body {
    font-family: 'Lato', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
}

header h1 a {
    text-decoration: none;
    color: inherit;
}

.circle {
    color: rgba(32, 53, 127, 0.759);
}

header {
    text-align: center;
    padding: 1rem 1rem 1.2rem 1rem;
}

h1 {
    font-family: 'Roboto', 'Lato', sans-serif;
    font-weight: 200;
    font-size: 2.1rem;
    color: #666666;
    letter-spacing: 1px;
}

nav {
    display: none; /* Hide navigation for now, as it's not in the reference image */
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article {
    flex-basis: calc(33.333% - 1rem);
    margin-bottom: 2rem;
}

article a {
    text-decoration: none;
    color: inherit;
}

article img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.3rem;
    transition: transform 0.4s ease-out;
}

article img:hover {
    transform: scale(1.005);
}

article h2 {
    font-family: 'Lato', 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.5rem;
    color: #666666;
}

footer {
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    font-size: 0.8rem;
    color: #999999;
}

@media (max-width: 768px) {
    article {
        flex-basis: calc(50% - 1rem);
    }
}

@media (max-width: 550px) {
    article {
        flex-basis: 100%;
    }
}

.gallery-container {
    width: 100%;
    padding: 30px 0;
}
.column {
    display: flex;
    flex-direction: column;
}
.gallery-group {
    width: calc(100% - 100px);
    margin: 0 auto 50px;
    position: relative;
    overflow: hidden;
}
.gallery-scroll {
    display: flex;
    transition: transform 0.3s/*  cubic-bezier(0.2, 0, 0.5, 1) */;
}

.gallery-scroll.single-item {
    justify-content: center;
}
.gallery-item-wrapper {
    flex: 0 0 auto;
    width: calc(100% - 80px);  /* Adjusted to account for margins */
    margin: 0 40px;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f4eee3;
    border-radius: 0.3rem;
}

.gallery-item {
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
    border-radius: px;
}
.gallery-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(130, 130, 130);
    font-size: 30px;
    font-weight: 100;
    padding: 10px;
    text-decoration: none;
    z-index: 10;
}
/* a.gallery-nav.next {
    width: 50px;
    margin-right: -10px;
} */
.gallery-nav i {
    transform: scale(1, 1.0);
    display: inline-block; 
}
  
  .gallery-nav {
    text-decoration: none;
    padding: 10px;
  }

  .gallery-nav.disabled {
    opacity: 0;
    cursor: default;
  }

.gallery-nav.prev { left: -10px; }
.gallery-nav.next { right: -10px; }
/*         .gallery-nav:hover {
} */
@media (max-width: 768px) {
    .gallery-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .gallery-item-wrapper {
        aspect-ratio: 14 / 16;
    }
    .gallery-group {
        width: calc(100% - 40px);
        margin: 0 0 30px;
    }
    .gallery-nav {
        font-size: 26px;
        opacity: 0.7;
    }
    .gallery-nav.disabled {
        opacity: 0.4;
    }
/*     .gallery-nav.prev { left: 40px; }
    .gallery-nav.next { right: 40px; } */
/*     .gallery-item-wrapper {
        width: calc(100% - 20px);
    } */
}

@media (max-width: 600px) {
    .gallery-item-wrapper {
        aspect-ratio: 9 / 16;
    }
}

  .home-gallery {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.fine-furniture {
    order: -1; /* This puts it on top for mobile layouts */
}

@media (min-width: 768px) {
    .home-gallery {
        flex-direction: row;
    }

    .cabinets {
        order: 1;
    }

    .fine-furniture {
        order: 2;
    }

    .about {
        order: 3;
    }
}