<div class="demo-nav">
    <button onclick="location.href='/index.html'">Basic</button>
    <button onclick="location.href='/html/reverse.html'">Reversed</button>
    <button onclick="location.href='/html/pause-on-hover.html'">Pause On Hover</button>
    <button onclick="location.href='/html/image-scale.html'">Grow</button>
    <button onclick="location.href='/html/animate.html'">On-Load Animation</button>
    <button onclick="location.href='/html/fade.html'">Fade</button>
    <button onclick="location.href='/html/wide-images.html'">Wide Images</button>
    <button onclick="location.href='/html/tall-images.html'">Tall Images</button>
</div>